<a href="https://colab.research.google.com/github/JardelSilva-86/FundamentosPython_DSA/blob/main/DSA_Cap04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lendo arquivos

In [11]:
# Abrindo o arquivo para leitura
arq1 = open('/content/drive/MyDrive/Colab Notebooks/DataScienceAcademy/DSA_Cap04/Arquivo.txt', 'r', encoding='ISO-8859-1')

In [12]:
# Lendo o arquivo
print(arq1.read())

Python é uma linguagem poderosa

In [13]:
# Contar o número de caracteres
print(arq1.tell())

31

In [23]:
# Retornar para o ínicio do arquivo
print(arq1.seek(0, 0)) # 0,0 - Significa, 1ª linha e 1ª coluna do arquivo

0

In [24]:
# Ler os primeiros 10 caracteres
print(arq1.read(9))

Python é

# Gravando arquivos

In [25]:
# Abrindo o arquivo para escrita/gravação
arq2 = open('/content/drive/MyDrive/Colab Notebooks/DataScienceAcademy/DSA_Cap04/Arquivo.txt', 'w', encoding='ISO-8859-1')

In [26]:
# Como abrímos o arquivo para escreta/gravação, não podemos usar comando de leitura
print(arq2.read())

UnsupportedOperation: ignored

In [27]:
# Gravando arquivo
arq2.write('Testando gravação de arquivos em Python.')

40

In [28]:
arq2.close()

In [29]:
# Lendo o arquivo modificado
arq2 = open('/content/drive/MyDrive/Colab Notebooks/DataScienceAcademy/DSA_Cap04/Arquivo.txt', 'r', encoding='ISO-8859-1')

In [30]:
print(arq2.read())

Testando gravação de arquivos em Python.

In [31]:
# Acrescentando conteúdo
arq2 = open('/content/drive/MyDrive/Colab Notebooks/DataScienceAcademy/DSA_Cap04/Arquivo.txt', 'a', encoding='ISO-8859-1')

In [32]:
arq2.write(' e agora acrescentando palavras na frase.')

41

In [33]:
arq2.close()

In [34]:
arq2 = open('/content/drive/MyDrive/Colab Notebooks/DataScienceAcademy/DSA_Cap04/Arquivo.txt', 'r', encoding='ISO-8859-1')

In [35]:
arq2.read()

'Testando gravação de arquivos em Python. e agora acrescentando palavras na frase.'

# Automatizando o processo e gravação

In [37]:
fileName = input('Digite o nome do arquivo: ')

Digite o nome do arquivo: Teste

In [38]:
fileName = fileName + '.txt'

In [39]:
arq3 = open(fileName, 'w')

In [40]:
arq3.write('Incluindo conteúdo no arquivo criado')

36

In [41]:
arq3.close()

In [42]:
arq3 = open(fileName, 'r')

In [43]:
print(arq3.read())

Incluindo conteúdo no arquivo criado

In [44]:
arq3.close()

# Abrindo o dataset em uma única linha

Fazer o download do arquivos salarios.csv
dataset retirado do site
https://data.cityofchicago.org/

In [45]:
f = open('/content/drive/MyDrive/Colab Notebooks/DataScienceAcademy/DSA_Cap04/Salarios.csv', 'r')

In [46]:
data = f.read()

In [47]:
rows = data.split('\n')

In [ ]:
print(rows)

# Dividindo um dataset em colunas

In [54]:
f = open('/content/drive/MyDrive/Colab Notebooks/DataScienceAcademy/DSA_Cap04/Salarios.csv', 'r')

In [55]:
data = f.read()

In [56]:
rows = data.split('\n')

In [57]:
full_data = []

In [ ]:
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)

print(full_data)

# Contando as linhas de um arquivo

In [59]:
f = open('/content/drive/MyDrive/Colab Notebooks/DataScienceAcademy/DSA_Cap04/Salarios.csv', 'r')

In [60]:
data = f.read()

In [61]:
rows = data.split('\n')

In [62]:
full_data = []

for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)

In [63]:
count = 0
for row in full_data:
    count += 1

In [64]:
print(count)

32184

# Contando o número de colunas de um arquivo

In [69]:
f = open('/content/drive/MyDrive/Colab Notebooks/DataScienceAcademy/DSA_Cap04/Salarios.csv', 'r')
data = f.read()
rows = data.split('\n')
full_data = []

In [70]:
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)
    first_row = full_data[0]
count = 0

In [71]:
for colunm in first_row:
    count += 1

print(count)

4

# Gravando arquivo pelo Jupyter Notebook

In [78]:
%%writefile /content/drive/MyDrive/Colab_Notebooks/DataScienceAcademy/DSA_Cap04/teste.txt
Olá, este arquivo foi criado pelo próprio Jupyter Notebook.
Podemos gerar quantas linhas quisermos e o Jupyter gera o arquivo final

Overwriting /content/drive/MyDrive/Colab_Notebooks/DataScienceAcademy/DSA_Cap04/teste.txt

In [79]:
arq4 = open('/content/drive/MyDrive/Colab_Notebooks/DataScienceAcademy/DSA_Cap04/teste.txt', 'r')

In [80]:
arq4.read()

'Olá, este arquivo foi criado pelo próprio Jupyter Notebook.\nPodemos gerar quantas linhas quisermos e o Jupyter gera o arquivo final'

In [81]:
# Estamos no final do arquivo e não há mais nada para ler
arq4.read()

''

In [82]:
# Retornando ao início do arquivo
arq4.seek(0)

0

In [83]:
arq4.seek(0)
arq4.readlines()

['Olá, este arquivo foi criado pelo próprio Jupyter Notebook.\n',
 'Podemos gerar quantas linhas quisermos e o Jupyter gera o arquivo final']

In [84]:
# Podemos usar um loop for para ler o arquivo
for line in open('/content/drive/MyDrive/Colab_Notebooks/DataScienceAcademy/DSA_Cap04/teste.txt'):
    print(line)

Olá, este arquivo foi criado pelo próprio Jupyter Notebook.

Podemos gerar quantas linhas quisermos e o Jupyter gera o arquivo final

# Importando um dataset com o Pandas

In [85]:
import pandas as pd

In [86]:
%%writefile /content/drive/MyDrive/Colab_Notebooks/DataScienceAcademy/DSA_Cap04/binary.csv
admit,gre,gpa,rank
0,380,3.61,3
1,660,3.67,3
1,880,4.00,1
1,640,3.19,4
0,520,2.93,4

Writing /content/drive/MyDrive/Colab_Notebooks/DataScienceAcademy/DSA_Cap04/binary.csv

In [87]:
file_name = '/content/drive/MyDrive/Colab_Notebooks/DataScienceAcademy/DSA_Cap04/binary.csv'

In [89]:
df = pd.read_csv(file_name)
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [90]:
file2 = '/content/drive/MyDrive/Colab_Notebooks/DataScienceAcademy/DSA_Cap04/Salarios.csv'

In [101]:
df2 = pd.read_csv(file2, sep="," )
df2.head()

,Name,Position Title,Department,Employee Annual Salary
0,"""AARON, ELVIA J"",WATER RATE TAKER,WATER MGMNT...",NaN,NaN,NaN
1,"""AARON, JEFFERY M"",POLICE OFFICER,POLICE,$807...",NaN,NaN,NaN
2,"""AARON, KARINA"",POLICE OFFICER,POLICE,$80778.00",NaN,NaN,NaN
3,"""AARON, KIMBERLEI R"",CHIEF CONTRACT EXPEDITER...",NaN,NaN,NaN
4,"""ABAD JR, VICENTE M"",CIVIL ENGINEER IV,WATER ...",NaN,NaN,NaN